<app-stack-panel spacing="50px"
                 marginTop="30px"
                 [width]="'100%'"
                 style="overflow: auto;">

  <app-stack-panel orientation="horizontal"
                   spacing="30px">
    <app-icon-button iconType="home"
                     (click)="this.homeAction()"
                     tooltip="Home">
    </app-icon-button>
    <app-icon-button iconType="menu"
                     (click)="this.menuAction()"
                     tooltip="Menu">
    </app-icon-button>
    <app-icon-button iconType="close"
                     (click)="this.closeAction()"
                     tooltip="Close">
    </app-icon-button>
    <app-icon-button iconType="add"
                     (click)="this.addAction()"
                     tooltip="Add">
    </app-icon-button>
    <app-icon-button iconType="remove"
                     (click)="this.removeAction()"
                     tooltip="Remove">
    </app-icon-button>
    <app-icon-button iconType="check_circle"
                     (click)="this.checkAction()"
                     tooltip="Checked">
    </app-icon-button>
    <app-icon-button iconType="highlight_off"
                     (click)="this.offAction()"
                     tooltip="Not Checked">
    </app-icon-button>
    <app-icon-button iconType="build"
                     (click)="this.buildAction()"
                     tooltip="Wrench">
    </app-icon-button>
  </app-stack-panel>

  <app-progress-bar mode="indeterminate"
                    progressText="Working">
  </app-progress-bar>

  <app-stack-panel orientation="horizontal"
                   spacing="15px">
    <app-search-select [dataSource]="['hello', 'world', 'today']"
                       title="Choose Option"
                       placeholder="Search"
                       [(selectedItem)]="this.selectedDropdownItem">
    </app-search-select>
    <button mat-raised-button
            (click)="this.dropdownValue()"
            style="height: 40px; align-self: center;"
            color="primary">
      Get Dropdown Value
    </button>
  </app-stack-panel>

  <app-stack-panel orientation="horizontal"
                   spacing="15px">
    <app-date-select [(selectedDate)]="this.selectedDate"></app-date-select>
    <button mat-raised-button
            (click)="this.getDateValue()"
            style="height: 40px; align-self: center;"
            color="primary">
      Get Date Value
    </button>
  </app-stack-panel>

  <app-radio-group [dataSource]="this.radioButtonOptions"
                   [(selectedItem)]="this.selectedRadioButton"
                   (selectedItemChange)="this.radioButtonSelect()"
                   spacing="30px"
                   orientation="horizontal">
  </app-radio-group>

  <app-table-select [dataSource]="['Test 1', 'Test 2', 'Test 3', 'amazing number 2']"
                    [(selectedItem)]="this.selectedTableValue"
                    (selectedItemChange)="this.tableSelection()">
  </app-table-select>

  <app-stack-panel spacing="5px">
    <button mat-raised-button
            (click)="this.getCheckboxValues()"
            style="height: 40px; align-self: center;"
            color="primary">
      Get Checkbox Values
    </button>
    <app-primeng-table [columns]="[{key: 'name', name: 'Name'}, {key: 'size', name: 'Size'}, {key: 'type', name: 'Type', columnType: 'interactive textbox'}]"
                       [dataSource]="this.primengSource"
                       [primaryKey]="'name'"
                       [(textBoxDataSource)]="this.textBoxSource">
    </app-primeng-table>
  </app-stack-panel>

</app-stack-panel>
